<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/template/LayoutPadrao">

<head>
    <title>Cadastro de título</title>
</head>

<section layout:fragment="conteudo">


    <div class="container">
        <div class="section">
            <div layout:include="/fragments/MensagemGeral"></div>
            <h4>Cadastro de Título</h4>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Cadastro de título</span>

                            <div class="row">
                                <form method="post" th:action="@{/titulos/novo}" th:object="${titulo}" class="col s12">

                                    <div class="row">
                                        <div class="input-field s12 col m6">
                                            <select id="entidade" class="validate" th:field="*{entidade}"
                                                    th:classappend="${#fields.hasErrors('entidade')} ? invalid">
                                                <option value="" selected="selected">Selecione a entidade</option>
                                                <option th:each="entidade : ${entidades}"
                                                        th:value="${entidade.codigo}"
                                                        th:text="${entidade.nome}">Lucas Barros</option>
                                            </select>
                                            <label for="entidade"
                                                   data-error="Entidade deve ser informada">Entidade</label>
                                        </div>

                                        <div class="input-field s12 col m6">
                                            <input id="dataDeEmissao" type="text" class="js-componente-data validate"
                                                   th:classappend="${#fields.hasErrors('dataDeEmissao')} ? invalid"
                                                   th:field="*{dataDeEmissao}"/>

                                            <label for="dataDeEmissao"
                                                   data-error="Emissão deve ser informada">Data de emissão</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field s12 col m6">
                                            <input id="dataDeValidade" type="text" class="js-componente-data validate"
                                                   th:classappend="${#fields.hasErrors('dataDeValidade')} ? invalid"
                                                   th:field="*{dataDeValidade}"/>

                                            <label for="dataDeValidade"
                                                   data-error="Validade deve ser informada">Data de validade</label>
                                        </div>

                                        <div class="input-field s12 col m6">
                                            <input id="dataDoPagamento" type="text" class="js-componente-data validate"
                                                   th:classappend="${#fields.hasErrors('dataDoPagamento')} ? invalid"
                                                   th:field="*{dataDoPagamento}"/>

                                            <label for="dataDoPagamento">Data do pagamento</label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="input-field s12 col m6">
                                            <input id="valor" type="text" class="validate"
                                                   th:classappend="${#fields.hasErrors('valor')} ? invalid"
                                                   th:field="*{valor}"/>

                                            <label for="valor" data-error="Valor deve ser informado">Valor</label>
                                        </div>

                                        <div class="input-field s12 col m6">
                                            <input id="valorPago" type="text" class="validate"
                                                   th:classappend="${#fields.hasErrors('valorPago')} ? invalid"
                                                   th:field="*{valorPago}"/>

                                            <label for="valorPago">Valor pago</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field s12 col m6">
                                            <select class="validate" th:field="*{tipo}">
                                                <option value="" selected="selected">Selecione o tipo</option>
                                                <option th:each="tipo : ${todosTiposTitulo}" th:value="${tipo}"
                                                        th:text="${tipo.descricao}"></option>
                                            </select>
                                        </div>

                                        <div class="input-field s12 col m6">
                                            <select class="validate" th:field="*{situacao}">
                                                <option value="" selected="selected">Selecione a situação</option>
                                                <option th:each="situacao : ${todasAsSituacoes}" th:value="${situacao}"
                                                        th:text="${situacao.descricao}"></option>
                                            </select>
                                        </div>

                                    </div>

                                    <br/>
                                    <br/>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</html>