<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<nav style="background-color: #ee6e73" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Spring Boot</a>

        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/entidades}">Clientes</a></li>
            <li><a th:href="@{/titulos}">Títulos</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Cadastros<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a th:href="@{/entidades/novo}">Clientes</a></li>
                <li><a th:href="@{/titulos/novo}">Títulos</a></li>
            </ul>
        </ul>

        <ul id="slide-out" class="side-nav">
            <li><a th:href="@{/entidades}">Clientes</a></li>
            <li><a th:href="@{/titulos}">Títulos</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Cadastros<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>

<ul id='dropdown2' class="dropdown-content">
    <ul>
        <li><a th:href="@{/entidades/novo}">Clientes</a></li>
        <li><a th:href="@{/titulos/novo}">Títulos</a></li>
    </ul>
</ul>

</html>