<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer deep-purple darken-4" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre o curso</h5>
                <p class="grey-text text-lighten-4">Este é um curso para quem está começanco com Spring Boot.</p>
                <p class="grey-text text-lighten-4">O projeto será um CRUD de um sistema de Contas à pagar e receber.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Requisitos</h5>
                <ul>
                    <li><a class="white-text" href="#!">Java OO (Básico)</a></li>
                    <li><a class="white-text" href="#!">HTML (Básico)</a></li>
                    <li><a class="white-text" href="#!">CSS (Básico)</a></li>
                    <li><a class="white-text" href="#!">Java Script (Básico)</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contatos</h5>
                <ul>
                    <li><a class="white-text" href="#!">lucas-barros28@hotmail.com</a></li>
                    <li><a class="white-text" href="#!">lucas.barros@facape.br</a></li>
                    <li><a class="white-text" href="#!">+55 879 9642-1975</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            GitHub
            <a class="orange-text text-lighten-3" target="_blank"
                      href="https://github.com/lucasbarrossantos/SpringBootAndMaterialize">
                lucasbarrossantos
            </a>
        </div>
    </div>
</footer>

</html>