<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="pagination (pagina)">
    <ul class="center pagination" th:if="${not pagina.vazia}" th:with="paginaAtual=${pagina.atual}">
        <li th:class="${pagina.primeira} ? disabled">
            <a th:href="${pagina.urlParaPagina(paginaAtual - 1)}"
               th:remove="${pagina.primeira} ? tag">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>

        <li th:if="${(paginaAtual - 2) > 0}">
            <a th:href="${pagina.urlParaPagina(0)}">1
                <span>...</span>
            </a>
        </li>

        <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina = ${p - 1} ">
            <li th:if="${(p + 1 >= paginaAtual and p - 1 <= paginaAtual + 2)}"
                th:class="${paginaAtual == numeroPagina} ? 'active deep-purple darken-4' : 'waves-effect' ">
                <a th:href="${pagina.urlParaPagina(numeroPagina)}" th:text="${p}">1</a>
            </li>
        </th:block>

        <li th:if="${(paginaAtual + 3) < pagina.total}">
            <a th:href="${pagina.urlParaPagina(pagina.total - 1)}">
                ... <span th:text="${pagina.total}"></span>
            </a>
        </li>

        <li th:class="${pagina.ultima} ? disabled">
            <a th:href="${pagina.urlParaPagina(paginaAtual + 1)}"
               th:remove="${pagina.ultima} ? tag">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</th:block>
</body>
</html>