<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Cobrança</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link th:href="@{/vendor/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/vendor/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>

<div th:replace="/fragments/Cabecalho :: cabecalho"></div>

<!-- Conteudo para ser injetado -->
<section layout:fragment="conteudo">
</section>

<div th:replace="/fragments/footer :: footer"></div>

<!--  Scripts-->
<script th:src="@{/vendor/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/vendor/js/materialize.js}"></script>
<script th:src="@{/vendor/js/jquery.maskMoney.js}"></script>
<script th:src="@{/vendor/js/init.js}"></script>
<th:block layout:fragment="javascript-extra"/>
</body>
</html>